/* このコンテナが横線と文字の基準になります */
.heightScaleContainer {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  left: 69%;
  bottom: 50px;
  transform: translateX(-50%);
}

/* 横線のスタイル */
.heightScale {
  position: absolute;
  width: 100%;
  height: 4px; 
}

/* 文字のスタイル。左端に固定 */
.heightScaleText {
  position: absolute;
  right: 30%;  /* 右端に配置 */
  top: -20px; /* 横線より上に表示 */
  font-size: 14px;
}