.test-page {
    width: 100vw;
    height: 100vh;
    background-color: #BEECF8;
    overflow: hidden;
}

.facilities {
    position: absolute;
    left: 10px;
    top: 50vh;
    width: 350px;
    height: 45vh;
}
