.testDiv.Case2 {
    position: absolute;
    align-items: center;
    justify-items:start;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 1px solid #2a3538;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: #ffffff50;
    align-items: center;
    width: 80vw;
    height: 80vh;
    width: 350px;
    max-height: 300px;
    padding: 10px;
    overflow-x:hidden;
}

.testDiv.Case2 img {
    transform: translate(40%, 0%);
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.testDiv.Case2 .Tools-divider {
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #2a3538;
    width: 100%; /* divider を左右いっぱいに広げる */
}

.testDiv.Case2 h1 {
    text-align: center;
    font-weight: 100;
  
}



/* レベル表示 */
.tool_level {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    margin-bottom: 40px;
    margin-right: auto; /* 左寄せ */
}

/* レベルアップボタン */
.button2 {
    background-color: #4CAF50;
    border-radius: 20px;
    width: 100%; /* ボタンを左右いっぱいに広げる */
    transform: translate(0%, -10%);
    height: 70px;
    font-size: 1.2rem;
}

/* 価格表示 */
.testDiv.Case1 {
    font-size: 1.2rem;
    text-align: center; /* 価格表示を中央揃えにする */
}